<launch>

  <!-- Launch turtlebot minimal.launch -->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

  <!-- Launch rplidar_a3.launch -->
  <include file="$(find rplidar_ros)/launch/rplidar_a3.launch"/>

  <!-- Launch hector_slam tutorial.launch -->
  <include file="$(find hector_slam_launch)/launch/tutorial.launch"/>
  
  <!-- Sử dụng static_transform_publisher để tạo transform từ map tới odom -->
  <node pkg="auto_nav" type="basetobase.py" name="map_to_odom_tf_publisher"
        args="0 0 0 0 0 0 map odom 100" />

</launch>

